body {
    background-color: rgb(194, 193, 193);
    margin:0;
}

h1 {
    margin-bottom: 50px;
}

#calc1 {
    grid-area: calc1;
}

#calc2 {
    grid-area: calc2;
}

#cost {
    grid-area: cost;
}

#prodButton {
    grid-area: prodButton;
}

#recipe {
    grid-area: recipe;
}

#recipe label {
    display: inline-block;
    width: 125px;
    text-align: right;
}

.result {
    font-weight: 600;
}

.statement {
    background-color: black;
    color: aliceblue;
    border-radius: 3px;
}

#totalCost, #selectCost {
    margin-top: 5px;
}

.calcSection, #costModal {
    background-color: cornflowerblue;
    border-radius: 3px;
    margin: 2px;
}

h1, input, .calcSection, #costModal, #closeModal {
    text-align: center;
}

 /* Navbar */

#indexNav {
    grid-area: indexNav;
}

#recipeChoice {
    grid-area: recipeChoice;
}

#tocsNav {
    grid-area: tocsNav;
}

.active {
    font-weight: bold;
}

.inactive {
    color: dimgray;
}


/* Modal */

#costModal {
    display: none;
    background-color: rgba(216, 91, 19, 0.904);
    grid-area: modal;
}

.modal-content {
    color: white;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
   margin-top: 10px;
}

#modalOff {
    grid-area: modal;
    background-color: #000000;
    border-radius: 3px;
    margin: 2px;
}

#closeModal {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
}

/* Containers */

#navbar {
    grid-area: navbar;
    cursor:default;
    height: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        ". indexNav . tocsNav . . . . . . . ."

}

.craftContainer {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar" 
    ". cost modal"
    "calc1 calc1 calc1"
    "calc2 calc2 calc2"
    "craft craft craft";
}

.recipeContainer {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar" 
    "recipeChoice recipeChoice recipeChoice"
    "recipe recipe recipe";
}

@media screen and (min-width : 600px) {
    #navbar {
        grid-area: navbar;
        height: 20px;
        background-color: rgb(0, 0, 0);
        color: white;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". indexNav . tocsNav . . . . . . . ."
    
    }

    .craftContainer {    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "navbar navbar navbar navbar navbar"  
            ". . cost modal ."
            ". calc1 calc1 calc1 ."
            ". calc2 calc2 calc2 ."
            ". craft craft craft .";
    }

    .recipeContainer {    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "navbar navbar navbar navbar navbar" 
        ". recipeChoice recipeChoice recipeChoice ."
        ". recipe recipe recipe .";
    }
}

@media screen and (min-width : 1512px) {
    #navbar {
        grid-area: navbar;
        height: 20px;
        background-color: rgb(0, 0, 0);
        color: white;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". indexNav tocsNav . . . . . . . . ."
    
    }

    .craftContainer {    
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "navbar navbar navbar navbar navbar navbar navbar navbar navbar" 
            ". . . . cost . . . ."
            ". calc1 calc1 calc1 modal calc2 calc2 calc2 ."
            ". . . . craft . . . .";
    }

    .recipeContainer {    
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "navbar navbar navbar navbar navbar navbar navbar navbar navbar" 
        ". . . recipeChoice recipeChoice recipeChoice . . ."
        ". . . recipe recipe recipe . . .";
    }
}