body {
    background-color: rgb(194, 193, 193);
    margin:0;
}

#calc1 {
    grid-area: calc1;
}

#calc2 {
    grid-area: calc2;
}

#cost {
    grid-area: cost;
}

#craftTitle {
    grid-area: craftTitle;
}

#craftResult {
    grid-area: craftResult;
}

h1 {
    margin-bottom: 50px;
}

#iBudget {
    grid-area: iBudget;
    margin-left: 7vw;
}

#iCellOne {
    grid-area: iCellOne;
}

#iCellTwo {
    grid-area: iCellTwo;
}

#iCellThree {
    grid-area: iCellThree;
}

#ingredientTwoValue {
    grid-area: ingredientTwoValue;
}

#ingredientThreeValue {
    grid-area: ingredientThreeValue;
}

#ingredientBudget {
    grid-area: ingredientBudget;
}

#prodButton {
    grid-area: prodButton;
}

#recipe {
    grid-area: recipe;
}

#recipe label {
    display: inline-block;
    width: 125px;
    text-align: right;
}

.result {
    font-weight: 600;
}

.statement {
    background-color: black;
    color: aliceblue;
    border-radius: 3px;
}

#totalCost, #selectCost {
    margin-top: 5px;
}

.calcSection, #costModal {
    background-color: cornflowerblue;
    border-radius: 3px;
    margin: 2px;
}

h1, input, .calcSection, #costModal, #closeModal {
    text-align: center;
}

 /* Navbar */

#indexNav {
    grid-area: indexNav;
}

#recipeChoice {
    grid-area: recipeChoice;
}

#tocsNav {
    grid-area: tocsNav;
}

.active {
    font-weight: bold;
}

.inactive {
    color: dimgray;
}

#navbar {
    grid-area: navbar;
    height: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        ". indexNav . tocsNav . . . . . . . ."

}

/* Modal */

#costModal {
   display: none;
   background-color: rgba(216, 91, 19, 0.904);
   grid-area: modal;
}
 
.modal-content {
   color: white;
   display: flex;
   font-size: 0.9rem;
   justify-content: center;
   margin-top: 10px;
}

#modalOff {
    grid-area: modal;
    background-color: #000000;
    border-radius: 3px;
    margin: 2px;
}
 
#closeModal {
   color: #000000;
   font-size: 28px;
   font-weight: bold;
}
 
#closeModal:hover,
#closeModal:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
 
.craftContainer {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar" 
    ". cost modal"
    "calc1 calc1 calc1"
    "calc2 calc2 calc2"
    "craft craft craft";
}

.recipeContainer {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar" 
    "recipeChoice recipeChoice recipeChoice"
    "recipe recipe recipe";
}

#craft {
    grid-area: craft;
    display: grid;
    width: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "craftTitle craftTitle craftTitle craftTitle craftTitle" 
    "iCellOne iCellOne iCellOne iCellOne iCellOne"
    "iCellTwo iCellTwo iCellTwo iCellTwo iCellTwo"
    "iCellThree iCellThree iCellThree iCellThree iCellThree"
    "iBudget iBudget iBudget iBudget iBudget"
    ". . prodButton . ."
    ". craftResult craftResult craftResult .";
}

@media screen and (min-width : 600px) {
    #navbar {
        grid-area: navbar;
        height: 20px;
        background-color: rgb(0, 0, 0);
        color: white;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". indexNav . tocsNav . . . . . . . ."
    
    }

    .craftContainer {    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "navbar navbar navbar navbar navbar"  
            ". . cost modal ."
            ". calc1 calc1 calc1 ."
            ". calc2 calc2 calc2 ."
            ". craft craft craft .";
    }

    #craft {
        grid-area: craft;
        display: grid;
        width: auto;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "craftTitle craftTitle craftTitle craftTitle craftTitle craftTitle craftTitle craftTitle craftTitle" 
        ". . iCellOne iCellOne iCellOne iCellOne iCellOne . . "
        ". . iCellTwo iCellTwo iCellTwo iCellTwo iCellTwo . ."
        ". . iCellThree iCellThree iCellThree iCellThree iCellThree . ."
        ". . iBudget iBudget iBudget iBudget iBudget . ."
        ". . . . prodButton . . . ."
        ". . . craftResult craftResult craftResult . . .";
    }

    #iBudget {
        margin-left: 4.5vw;
    }

    .recipeContainer {    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "navbar navbar navbar navbar navbar" 
        ". recipeChoice recipeChoice recipeChoice ."
        ". recipe recipe recipe .";
    }
}

@media screen and (min-width : 1512px) {
    #navbar {
        grid-area: navbar;
        height: 20px;
        background-color: rgb(0, 0, 0);
        color: white;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". indexNav tocsNav . . . . . . . . ."
    
    }

    .craftContainer {    
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "navbar navbar navbar navbar navbar navbar navbar navbar navbar" 
            ". . . . cost . . . ."
            ". calc1 calc1 calc1 modal calc2 calc2 calc2 ."
            ". . . . craft . . . .";
    }

    #craft {
        grid-area: craft;
        display: grid;
        width: 50vw;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "craftTitle craftTitle craftTitle craftTitle craftTitle craftTitle craftTitle craftTitle craftTitle" 
        ". . . iCellOne iCellOne iCellOne . . ."
        ". . . iCellTwo iCellTwo iCellTwo . . ."
        ". . . iCellThree iCellThree iCellThree . . ."
        ". . . iBudget iBudget iBudget . . ."
        ". . . . prodButton . . . ."
        ". . . craftResult craftResult craftResult . . .";
    }

    #iBudget {
        margin-left: 1.7vw;
    }

    .recipeContainer {    
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "navbar navbar navbar navbar navbar navbar navbar navbar navbar" 
        ". . . recipeChoice recipeChoice recipeChoice . . ."
        ". . . recipe recipe recipe . . .";
    }
}